In [30]:
import pandas as pd

### QUESTION-1

In [11]:
print(pd.Series([4, 8, 15, 16, 23,42] ,index=[0,1,2,3,4,5]))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### QUESTION-2

In [25]:
ser=pd.Series(['a','b','d','e','f','g','h','i','j','k'])

In [26]:
print(ser)

0    a
1    b
2    d
3    e
4    f
5    g
6    h
7    i
8    j
9    k
dtype: object

### QUESTION-3

In [18]:
a=pd.DataFrame({'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','male','Female']})

In [19]:
a

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  Claire   27  Female


### QUESTION-4

In [ ]:
# Pandas Series: One-dimensiona,Homogenous – Series elements must be of the same data type.
# Size-immutable – Once created, the size of a Series object cannot be changed
# Pandas DataFrame: Two-dimensional,Heterogenous – DataFrame elements can have different data types
# Size-mutable – Elements can be dropped or added in an existing DataFrame.

### QUESTION-5

In [ ]:
# DroppinSorting the DataFrame using sort_values() method. the missing values in DataFrame, 
# it can be done using the dropna() method, it removes all the NaN values in the dataframe.
# df.dropna()
# Sorting the DataFrame using sort_values() method.
# you can use pandas insert() function to add a new column to a DataFrame.

### QUESTION-6

In [ ]:
# Series – 1D labeled homogeneous array, size immutable
# Data Frames – 2D labeled, size-mutable tabular structure with heterogenic columns
# Panel – 3D labeled size mutable array.

### QUESTION-7

In [63]:

df= pd.DataFrame({'A': pd.Series([1,2,3,4]),'B':pd.Series([2,3,4,5])})

In [65]:
df

   A  B
0  1  2
1  2  3
2  3  4
3  4  5